<!DOCTYPE html>
<html>

<head>

    <title>Du ERP | Home</title>


    <script>

        window.onload=function () {
            display_error();
            login();
            document.getElementById("footer").className += " fixed-bottom";
        }

        var data = {{data|tojson}};
        console.log(data);

        function display_error() {
            if(data != null) {
                if (data['password_again_msg'] != null)
                    document.getElementById('password_again_msg').innerText = data['password_again_msg'];
                if (data['password_msg'] != null)
                    document.getElementById('password_msg').innerText = data['password_msg']
            }
        }

    </script>


    {% include "nav.html" %}


</head>

<body>
<div align="center">
    <div style="width: 80%">
        <br/>
        <h2>Change Profile Info</h2>
        <br/>

        <form action = "/auth/change-validation" method = "POST" style="width: 30%">

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password">
                <span id="password_msg" style="font-size: small;color: red"></span>
            </div>
            <div class="form-group">
                <label for="password">Password Again</label>
                <input type="password" class="form-control" id="password_again" name="password_again">
                <span id="password_again_msg" style="font-size: small;color: red"></span>
            </div>

            <div class="form-group">
                Marital Status:<br/>
                <input type="radio" name="marital_status" value="Single" checked> Single
                <input type="radio" name="marital_status" value="Married"> Married
                <input type="radio" name="marital_status" value="Divorced"> Divorced
                <input type="radio" name="marital_status" value="Widowed"> Widowed
            </div>
            <div class="form-group">
                <label for="phn">Phone No.</label>
                <input type="text" class="form-control" id="phn" name="phn" value="{{user['phn']}}">
                <span id="phn_msg" style="font-size: small;color: red"></span>
            </div>
            <div class="form-group">
                <label for="addr">Address:</label>
                <input type="text" class="form-control" id="addr" name="addr" value="{{user['addr']}}"><br/>
                <span id="addr_msg" style="font-size: small;color: red"></span>
            </div>
            <div class="form-group">
                <label for="addr"> Permanent Address:</label>
                <input type="text" class="form-control" id="addr1" name="addr1" value="{{user['addr1']}}">
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-dark btn-lg" value="Change">
            </div>
        </form>
    </div>
</div>
</body>
<footer> {% include "footer.html" %}</footer>

</html>
