<!DOCTYPE html>
<html>

<head>

    <title>CSEDU | {{str}}</title>


    <script>

        window.onload=function () {
            login();
            document.getElementById("footer").className += " fixed-bottom";
        }



    </script>


    {% include "nav.html" %}


</head>

<body>
<div align="center">
    <div style="width: 80%">
        <div align="center">
    <div style="width: 80%" align="left">
        <br/>
        <div style="border: 1px solid #272f45">
            <div style="background: #272f45;color: #effff8;">
                <h2>&nbsp;Course Information</h2>
            </div>
            <div style="margin-left: 15px;font-size: large">
                <table>
                    <tr>
                        <td>
                            <b>ID:</b>
                        </td>
                        <td>
                            17859
                        </td>
                    </tr><tr></tr>

                    <tr>
                        <td>
                            <b>Title:</b>
                        </td>
                        <td>
                            Computer Networking
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Credit:</b>
                        </td>
                        <td>
                            3.00
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Semester:</b>
                        </td>
                        <td>
                            Fall
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Session</b>
                        </td>
                        <td>
                            2015-1016
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Instructor:</b>
                        </td>
                        <td>
                            Kashem Chowdhury (378597347)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Students:</b>
                        </td>
                        <td>
                            139
                        </td>
                    </tr>
                </table>
                 <br/><br/>


            </div>
            <br/>
            <div style="margin-left: 15px;font-size: large">
                <table>
                    <tr>
                        <td>
                            <b>ID:</b>
                        </td>
                        <td>
                            67859
                        </td>
                    </tr><tr></tr>

                    <tr>
                        <td>
                            <b>Title:</b>
                        </td>
                        <td>
                            Data Structure
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Credit:</b>
                        </td>
                        <td>
                            3.00
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Semester:</b>
                        </td>
                        <td>
                            Fall
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Session</b>
                        </td>
                        <td>
                            2015-1016
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Instructor:</b>
                        </td>
                        <td>
                            Kashem Chowdhury (378597347)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Students:</b>
                        </td>
                        <td>
                            139
                        </td>
                    </tr>
                </table>
                 <br/><br/>


            </div>

        </div>



    </div>
</div>
    </div>
</div>
</body>
<footer> {% include "footer.html" %}</footer>

</html>
