<!DOCTYPE html>
<html>

<head>

    <title>CSEDU | {{str}}</title>


    <script>

        window.onload=function () {
            login();
            document.getElementById("footer").className += " fixed-bottom";
        }



    </script>


    {% include "nav.html" %}


</head>

<body>
<div align="center">
    <div style="width: 80%">
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <h1>Welcome to Dhaka University ERP system</h1>

        <br/>
        <br/>
        <h3>
            {{str}}
        </h3>
    </div>
</div>
</body>
<footer> {% include "footer.html" %}</footer>

</html>
