<!DOCTYPE html>
<html>

<head>

    <title>CSEDU | {{str}}</title>


    <script>

        window.onload=function () {
            login();
            document.getElementById("footer").className += " fixed-bottom";
        }



    </script>


    {% include "nav.html" %}


</head>

<body>
<div align="center">
    <div style="width: 80%">
        <div align="center">
   <style>
    table.my {
    border-collapse: collapse;
}

table.my, th.my, td.my {
    border: 1px solid black;
}
</style>
<div align="center">
    <div style="width: 80%" align="left">
        <br/>
        <div style="border: 1px solid #272f45">
            <div style="background: #272f45;color: #effff8;">
                <h2>&nbsp;Routine Information</h2>
            </div>
				&nbsp;&nbsp;&nbsp;&nbsp;<b>Semester:</b> Fall<br/>
				&nbsp;&nbsp;&nbsp;&nbsp;<b>Session:</b> 2017-18
			<br/><br/>
            <div style="margin-left: 15px;font-size: large">
                <table>
                    <tr>
                        <td>
                            <b>Course:</b>
                        </td>
                        <td>
                            Computer Networking (17859)

                        </td>
                    </tr><tr></tr>


                    <tr>
                        <td>
                            <b>Instructor:</b>
                        </td>
                        <td>
                            Kashem Chowdhury (3785)
                        </td>
                    </tr>

                </table>
                <table class="my">
                    <tr class="my">
                        <td class="my">Room: &nbsp;&nbsp;</td>
                        <td class="my">Building: </td>
                        <td class="my">Start time: &nbsp;&nbsp;</td>
                        <td class="my">End time:&nbsp;&nbsp;&nbsp;&nbsp; </td>
                        <td class="my">Day of week:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
                    </tr>
                    <tr class="my">
                        <td class="my">312</td>
                        <td class="my">Mokarrom Bhobon&nbsp;&nbsp;</td>
                        <td class="my">9.00 AM </td>
                        <td class="my">10.30 AM </td>
                        <td class="my">Sunday </td>
                    </tr>
                    <tr class="my">
                        <td class="my">313</td>
                        <td class="my">Mokarrom Bhobon</td>
                        <td class="my">9.00 AM </td>
                        <td class="my">10.30 AM </td>
                        <td class="my">Tuesday </td>
                    </tr>
                </table>
                <br/>
                <br/>
                <table>
                    <tr>
                        <td>
                            <b>Course:</b>
                        </td>
                        <td>
                            Data Structure (37859)

                        </td>
                    </tr><tr></tr>


                    <tr>
                        <td>
                            <b>Instructor:</b>
                        </td>
                        <td>
                            John Korth (1785)
                        </td>
                    </tr>

                </table>
                <table class="my">
                    <tr class="my">
                        <td class="my">Room: &nbsp;&nbsp;</td>
                        <td class="my">Building: </td>
                        <td class="my">Start time: &nbsp;&nbsp;</td>
                        <td class="my">End time:&nbsp;&nbsp;&nbsp;&nbsp; </td>
                        <td class="my">Day of week:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
                    </tr>
                    <tr class="my">
                        <td class="my">312</td>
                        <td class="my">Mokarrom Bhobon&nbsp;&nbsp;</td>
                        <td class="my">11.00 AM </td>
                        <td class="my">11.30 AM </td>
                        <td class="my">Sunday </td>
                    </tr>
                    <tr class="my">
                        <td class="my">313</td>
                        <td class="my">Mokarrom Bhobon</td>
                        <td class="my">11.00 AM </td>
                        <td class="my">11.30 AM </td>
                        <td class="my">Tuesday </td>
                    </tr>
                </table>
                <br/>
                <br/>

            </div>

        </div>



    </div>
</div>
</div>
    </div>
</div>
</body>
<footer> {% include "footer.html" %}</footer>

</html>
