<!DOCTYPE html>
<html>

<head>

    <title>Du ERP | Home</title>


    <script>

        window.onload=function () {
            login();
            document.getElementById("footer").className += " fixed-bottom";
        }



    </script>


    {% include "nav.html" %}


</head>

<body>
<div align="center">
    <div style="width: 80%">
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <h1>Welcome to Dhaka University ERP system</h1>

        <br/>
        <br/>
        <h3>
            <a href="/payroll/" >
                Payroll module
            </a>
            <br/>
            <br/>
            <a href="/pf-module/">
                PF module
            </a>
            <br/>
            <br/>
            <a  href="/loan/">
                Loan module
            </a>
        </h3>
    </div>
</div>
</body>
<footer> {% include "footer.html" %}</footer>

</html>
